<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vecherwatch.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e29822a2-ca80-446d-b1c3-c0066e5b8661/resourceGroups/learn-be52a52d-f676-4ac1-9883-c991a3345a23/providers/Microsoft.Web/sites/vecherwatch</ResourceId>
    <UserName>$vecherwatch</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://vecherwatch.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>